[user]
	name = johnwink
	email = johnwink1998@gmail.com
[http]
	sslVerify = false
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
